/*** PUBLIC SITE ***/


/* Style for grid cells */
.rf-tgrid {
    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 1px;
    padding: 10px;
/*    border: 1px solid bisque;*/
    vertical-align: middle;
    text-align: center;

}

/* Style for the grid */
.rf-tablestyle {
    border: 2px solid;
    border-color: black;
    background-color: ghostwhite;
    cursor: pointer;
	margin: 1% auto;

}

/* Style for the div containing the grid */
#rf-searchgamecontainer {

}

/* Style for the div containing the word list */
#rf-wordcontainer {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 1% auto;
	display: inline-block;
    padding-right: 50px; 
    border: 2px solid;
    border-color: black;
	cursor: pointer;	
}

/* Style for the words that have been found */
.rf-foundword {
    font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration : line-through;
	color : lightgray;
	font-style : italic;

}

#rf-tablegrid .rf-armed {
/*	background: lightcyan;*/
}

#rf-tablegrid .rf-highlight {
    background: red;
}


#rf-tablegrid .rf-glowing {
	background: greenyellow;
        
}

#rf-tablegrid .rf-selected {
	background: gold;
}

/* style for words that didn't make it on the grid */
.rf-pfalse {
    color: gray;
    visibility: hidden; 
}

.test-container .test-content {
	width: 100% !important;
	padding: 1%;
}

.test-container .test-content .test-content-puzzle {
	text-align: center;
}

.test-container .test-content .test-content-options {
	text-align: center;
}

.test-container .test-content-options .btn-test,
.test-container .test-content-buttons .btn-test {
	margin: 2% 0 0 0;
	padding: 0.25% 2%;
	border: 1px solid #39AE60;
	background: #52C577;
	color: #FFFFFF;
	font-size: 1.1em;
}

.test-container .test-star {
	display: inline-block;
	margin: 5% 0 1% 0;
	width: 50%;
	text-align: center;
	vertical-align: top;
}

.test-container .test-kid {
	display: inline-block;
	width: 49%;
	margin: 5% 0 1% 0;
	text-align: center;
	vertical-align: top;
}

.test-container .message-passed {
	color: #1B9508;
	font-weight: bold;
}

.test-container .message-failed {
	color: #FF4D4D;
	font-weight: bold;
}